@model AppPeluqueriaMVC.Models.Cosmetico
@{
    ViewData["Titel"] = "Detalle cosmetico";
}


<h1 class="text-center offset-1">Cosmetico</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Detalle del producto</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>DNI: </strong>@Html.DisplayFor(m => m.Codigo)</li>
                    <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombre)</li>
                    <li class="list-group-item"><strong>Apellido: </strong>@Html.DisplayFor(m => m.Precio)</li>
                    <li class="list-group-item"><strong>Fecha de Ingreso: </strong>@Html.DisplayFor(m => m.Created)</li>
                    <li class="list-group-item">
                        <img src="@Url.Action("GetImage", new { codigo = Model.Codigo })" alt="Imagen del Artículo" style="width:200px; height:auto;">
                    </li>
                    <li class="list-group-item"><strong>Fecha de Ingreso: </strong>@Html.DisplayFor(m => m.Created)</li>
                </ul>
            </div>
            <div class="card-body">
                <form asp-action="BorrarCosmetico" method="post">
                    <input asp-for="Codigo" type="hidden">

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-danger d-block mx-auto"><i class="bi bi-trash"></i>Eliminar producto</button>
                    </div>
                </form>

                <a asp-controller="Cosmetico" asp-action="VistaCosmetico">Volver</a>
            </div>
        </div>
    </div>
</div>