@model AppPeluqueriaMVC.Models.Cita
@{
    ViewData["Title"] = "Crear nueva cita";
}

<h1 class="text-center offset-1">Citas</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Agendar nueva cita</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Id: </strong>@Html.DisplayFor(m => m.Id)</li>
                    <li class="list-group-item"><strong>Fecha de la cita: </strong>@Html.DisplayFor(m => m.Fecha)</li>
                    <li class="list-group-item"><strong>Empleado: </strong>@(Model.Empleado != null ? Model.Empleado.NombreCompleto() : "No asignado")</li>
                    <li class="list-group-item"><strong>Cliente: </strong>@(Model.Cliente != null ? Model.Cliente.NombreCompleto() : "No asignado")</li>
                    <li class="list-group-item"><strong>Tipo de servicio: </strong>@Html.DisplayFor(m => m.TipoServicio)</li>
                    <li class="list-group-item">
                        <strong>Cosméticos:</strong>
                        @if (Model.Cosmeticos != null && Model.Cosmeticos.Any())
                        {
                            <ul>
                                @foreach (var cosmetico in Model.Cosmeticos)
                                {
                                    <li>
                                        @cosmetico.Nombre
                                        <img src="@Url.Action("GetImage", new { codigo = cosmetico.Codigo })" alt="Imagen de @cosmetico.Nombre" style="width:180px; height:auto;">
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No hay cosméticos asignados.</p>
                        }
                    </li>
                    <li class="list-group-item"><strong>Costo total: </strong>$@Html.DisplayFor(m => m.CostoTotal)</li>
                    <li class="list-group-item"><strong>Creado: </strong>@Html.DisplayFor(m => m.Created)</li>
                </ul>
            </div>
            <div>
                <form asp-action="BorrarCita" method="post">
                    <input asp-for="Id" type="hidden">

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-danger d-block mx-auto"><i class="bi bi-trash"></i>Eliminar producto</button>
                    </div>
                </form>

                <a asp-controller="Cita" asp-action="VistaCita">Volver</a>
            </div>
        </div>
    </div>
</div>