@model IEnumerable<AppPeluqueriaMVC.Models.Servicio>
@{
    ViewData["Title"] = "Servicios disponibles";
}


<div class="row">
    <h1 class="text-center">Servicios</h1>
    <div class="offset-9 col-3 mb-3">
        <a asp-action="CrearServicio" asp-controller="Servicio" class="btn btn-secondary d-block mx-auto btn-lg">
            <i class="bi bi-plus-square-fill"></i>Nuevo Servicio
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Lista de Servicios</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="tblServicios" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                                    <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                                    <th>@Html.DisplayNameFor(m => m.Descripcion)</th>
                                    <th>@Html.DisplayNameFor(m => m.Precio)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Id)</td>
                                        <td>@Html.DisplayFor(m => item.Nombre)</td>
                                        <td>@Html.DisplayFor(m => item.Descripcion)</td>
                                        <td>@Html.DisplayFor(m => item.Precio)</td>
                                        <td>
                                            <a asp-action="EditarServicio" asp-route-id="@item.Id" class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</a>
                                            <a asp-action="DetalleServicio" asp-route-id="@item.Id" class="btn btn-secondary"><i class="bi bi-info-circle-fill"></i> Detalle</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Llamar a datatable
            $('#tblServicios').DataTable({
                language: {
                    "decimal": "",
                    "emmtyTable": "No hay informacion",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}
